<div class="trust-text">Вже довіряють нам</div>
<section class="trust-container">    
    
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/Hillel.png"
            
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h2.png"
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h3.png"
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h4.png"
        })
            @@include('./trustItem.html', {
                "img": "../../../../assets/img/h5.png"
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h6.png"
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h7.png"
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h8.png"
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h9.png"
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h19.png"
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h11.png"
        })
        @@include('./trustItem.html', {
            "img": "../../../../assets/img/h12.png"
        })
</section>