@import '_publications.scss';
.public {
  background: #f5f5fa;
  border-radius: 12px 12px 0px 0px;
}
.public_homepage {
  padding: 40px 60px;
  background: #f5f5fa;
  border-radius: 0px;
  max-height: none;
  overflow: auto;
}
.public_block {
  margin-bottom: 40px;
}
.form__button {
  background: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-left: calc(50% - 125px);
  margin-bottom: 60px;
  width: 250px;
  height: 50px;
  &:hover {
    transform: scale(1.1);
    background-color: rgba(48, 230, 175, 0.5);
  }
}
