.team__head {
  font-size: 42px;
  line-height: 50px;
  color: #f0145a;

  padding: 0 calc(50% - 432px);
  text-align: center;
}
.team__container {
  display: flex;
  flex-wrap: wrap;
  padding: 60px;

  & div:nth-child(1) {
    margin-right: 40px;
    & > img {
      border-radius: 12px;
    }
  }
  & div:nth-child(2) {
    margin-right: 40px;
  }
  & div:nth-child(4) {
    margin-right: 40px;
  }
  & div:nth-child(5) {
    margin-right: 40px;
  }
  &_name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #323264;
    margin-top: 20px;
    margin-bottom: 0;
  }
  &_prof {
    font-size: 16px;
    line-height: 22px;
    color: #b3b3ba;
  }
}
.team_link{
    margin-left: 380px;
    &>img:hover{
      transform: scale(1.2);
      cursor: pointer;
    }
}

