<div class="gridContainer">
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon.svg',
        'text':"IT та електронна комерція" ,
        'source':"Нескінчений потік договорів, податкові питання, трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста."
    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon1.svg',
        'text':"Комплексний щоденний юридичний супровід" ,
        'source':"До того ж, з часом робота стане однотипною і нецікавою для штатного юриста. А ще ми добре знаємо, як важко в Україні знайти хорошого кандидата з досвідом у сфері інформаційних технологій."

    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon2.svg',
        'text':"Структуризація корпоративних відносин" ,
        'source':"Замість просто надавати юридичні послуги, ми закріпимо юриста або цілу команду, які впишуться в повсякденне життя вашої компанії."

    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon3.svg',
        'text':"Побудовa договірних відносин" ,
        'source':"Раз на тиждень, чи тиждень на місяць у вас під боком є ваш власний юрист. Будь-хто в компанії може впіймати його біля кавоварки і просто поговорити про поточні справи замість очікування статусу update."

    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon4.svg',
        'text':"Захист бізнесу, інтелектуальної власності" ,
        'source':"А весь інший час він працюватиме над новими різноплановими проектами, тому вже точно не зупиниться в професійному розвитку. Так чи інакше, на вас працюватиме весь Axon Partners замість корпоративного юриста. "

    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon5.svg',
        'text':"Судове представництво" ,
        'source':"Невелика компанія, середнього розміру, чи вже лідер ринку? Локальний бізнес або транснаціональна компанія? Маєте власний юридичний відділ, чи ні? "

    })
    
</div>