<section class="grid-container">
    <div class="grid-container__title">@@title</div>
    
        @@include('./GridItem.html', {
            "text": "Супровід проекту з купівлі-продажу сільськогосподарської продукції",
            "source": "Hillel IT School"
        })
        @@include('./GridItem.html', {
            "text": "Підготовка комплексного юридичного висновку для європейського банку",
            "source": "WannaBiz"
        })
        @@include('./GridItem.html', {
            "text": "Супровід проекту з купівлі-продажу сільськогосподарської продукції",
            "source": "tapgerine"
        })
        @@include('./GridItem.html', {
            "text": "Представництво інтересів великого зернотрейдера в податковому спорі",
            "source": "3D LOOK"
        })
        @@include('./GridItem.html', {
            "text": "Оскарження податкових повідомлень-рішень ДФС",
            "source": "adtelligent"
        })
        @@include('./GridItem.html', {
            "text": "Супровід проекту з кредитування агротрейдерів мальтійським банком",
            "source": "Clikky"
        })
</section>