<div>
    <a href="" class="comand__card_head">Публікації</a>
    <svg width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.5 1.5L6 6L1.5 10.5" stroke="#24A3FF" stroke-width="2" />
    </svg>
</div>
<h2 class="publications-title">Нам є що розповісти</h2>
<section class="publications-container">
<section >
    @@include('./publicationsItem.html', {
        "news": "Валютний контроль помер, хай живе валютний контроль!",
        "date":'14 червня',
        "newsText":'Експерти проводять конференції, круглі столи та іншого штибу заходи на тему «лібералізація валютного законодавства». Юристи-експерти-новелісти стирають пальці об «ctrl+c/ctrl+v».'
        
    })
    @@include('./publicationsItem.html', {
        "img":'../../../../assets/img/p4.png',
        "news": "Заповіт міленіала",
        "date":'19 серпня',
        "newsText":'Що і як передаватимуть у спадщину сучасні влогери, опініон лідери і криптомільйонери Типовий спадок українського покоління Х виглядає так: квартира у…'
        
    })
    </section>
    <section >
    
    @@include('./publicationsItem.html', {
        "img":'../../../../assets/img/p2.png',
        "news": "Equity associate",
        "date":'22 квітня',
        "newsText":'На проектах я джун. При цьому я співвласник юридичної фірми. Як це відбулося. Перед вступом батьки мені казали, що якщо буду…'
        
    })
    @@include('./publicationsItem.html', {
        "img":'../../../../assets/img/p5.png',
        "news": "Закон про мови: як зробити свій сайт відповідним",
        "date":'19 серпня',
        "newsText":'Наталія Кирик, керівник контент студії Wordfactory.ua По-перше, це красиво! Це аргумент номер один на користь україномовного сайту. По-друге, це ефективно. У…'
        
    })
    </section>
    <section>
    @@include('./publicationsItem.html', {
        "img":'../../../../assets/img/p3.png',
        "news": "Штраф для «Корпорації добра»: що буде з Google та іншими за порушення GDPR",
        "date":'29 вересня',
        "newsText":'І чому стягнення у 50 млн євро може стати доленосним прецедентом За матеріалами Mind.ua 21 січня Національна комісія із захисту даних.'
        
    })
    @@include('./publicationsItem.html', {
        "img":'../../../../assets/img/p6.png',
        "news": "Компенсація витрат на навчання дитини в дитячому садку та школі",
        "date":'5 Лютого 2018',
        "newsText":'Про що йде мова В червні цього року Верховна Рада внесла зміни до Податкового кодексу України. Відтепер батьки, які отримують офіційну…'
        
    })
</section>
<div  class="more">
    <button>
        Ще публікації
    </button>
</div>
</section>

