
    <section class="footer">
       <p> <span class="footer__adress">Одеса, Адміральський пр., 3</span>
        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="3" cy="3" r="3" fill="#B3B3BA"/>
            </svg>
            
        <a href="./contacts.html">Подивитися на мапі</a>
        <span class="footer__comp">© 2021 ТОВ Юридична компанія «HLEGALS»</span>
    </p>
      <p> 
          <img src="../../../../assets/icons/Facebook.svg" alt="">
   
        
       <img src="../../../../assets/icons/DotFooter.svg" alt="">
            
        <span class="footer__phone"> +38 (050) 390 15 91</span>
        <svg width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="3" cy="3" r="3" fill="#B3B3BA"/>
            </svg>
            
        <a href="contact@hlegals.net">contact@hlegals.net</a>
    </p> 
    </section>
   
