<section class="ServicesGrid">
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon.svg',
        'text':"IT та електронна комерція ,
        'source':"Нескінчений потік договорів, податкові питання,трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "
    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon.svg',
        'text':"IT та електронна комерція ,
        'source':"Нескінчений потік договорів, податкові питання,трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "

    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon.svg',
        'text':"IT та електронна комерція ,
        'source':"Нескінчений потік договорів, податкові питання,трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "

    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon.svg',
        'text':"IT та електронна комерція ,
        'source':"Нескінчений потік договорів, податкові питання,трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "

    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon.svg',
        'text':"IT та електронна комерція ,
        'source':"Нескінчений потік договорів, податкові питання,трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "

    })
    @@include('./servicesItem.html', {
        'img':'../../../assets/icons/Icon.svg',
        'text':"IT та електронна комерція ,
        'source':"Нескінчений потік договорів, податкові питання,трудові відносини, корпоративні папери — юридична робота відволікає вас від ведення бізнесу. Але роботи не так вже й багато, щоб наймати інхауз-юриста. "

    })
</section>