<header class="header">
    <a href="./index.html"><img src="@@img_adress" alt="hlegals"></a>
    <div class="adress">
        <button class="lang" autofocus style="outline: none;">УК</button>
        <button class="lang">РУ</button>
        <button class="lang">EN</button>
        <svg class="svg" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="3" cy="3" r="3" fill="#E6E6F0" />
        </svg>
        <span>Одеса, Адміральський пр., 3</span>
        <svg class="svg" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="3" cy="3" r="3" fill="#E6E6F0" />
        </svg>
        <span class="adress__phone">+38 (050) 390 15 91</span>
        <svg class="svg" width="6" height="6" viewBox="0 0 6 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="3" cy="3" r="3" fill="#E6E6F0" />
        </svg>
        <img  src="@@img_fb"  alt="fb">
       
    </div>
    <div class="clear"></div>
    <div class="adress">
        <a href="./about.html">о нас</a>
        <a href="./service.html">послуги</a>
        <a href="./team.html">команда</a>
        <a href="./publication.html">публікації</a>
        <a href="./contacts.html">контакти</a>
    </div>
    <div class="clear"></div>
</header>